{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% load wagtailcore_tags %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}



{% comment %} {% block body_class %}Teste{% endblock %} {% endcomment %}

{% block content %}
    {{ page.body|richtext }}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{# <div class="row"> #}
    

    <div class="d-flex justify-content-center align-items-center" style="height:400px;">
        {# <div class="bg-dark">MIDDLE</div>     #}
        
            <!-- <button type="button" class="btn btn-lg bg-dark" id="btn-1">Teste</button>
        
            <button type="button" class="btn btn-lg bg-dark" id="btn-2">com bootstrap</button> -->
        
            <div class="card h-100 shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <a href="{% slugurl 'formulário-de-planejamento-financeiro' %}">
                <img class="card-img-top" src="{% static 'images/bettina.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Controle melhor os seus gastos!</h5>
                  {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                  
                  {# Go somewhere #}
                </div>
                </a>
            </div>
            <div class="card h-100 shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/blog.jpeg' %}" alt="Card image cap" height="170px" width="auto">
                <div class="card-body">
                  <h5 class="card-title">Aprenda mais sobre Educação Financeira</h5>
                  {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>

    </div>
{# </div> #}

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>

{% endblock %}
