{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% load wagtailcore_tags %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}



{% comment %} {% block body_class %}Teste{% endblock %} {% endcomment %}

{% block content %}
    {{ page.body|richtext }}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<row>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <button type="button" class="btn btn-primary" id="btn-1">Teste</button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <button type="button" class="btn btn-danger" id="btn-2">com bootstrap</button>
    </div>
</row>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>

{% endblock %}
