{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% load wagtailcore_tags %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}



{% comment %} {% block body_class %}Teste{% endblock %} {% endcomment %}

{% block content %}
    {{ page.body|richtext }}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{# <div class="row"> #}
    

    <div class="d-flex justify-content-center align-items-center" style="height:400px;">
        {# <div class="bg-dark">MIDDLE</div> #}
        
            <a href="{% slugurl 'formulário-de-planejamento-financeiro' %}" class="card h-100 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card" style="width: 15rem; display: inline-block">
                    <img class="card-img-top" src="{% static 'images/bettina.jpg' %}" alt="Card image cap"  height="200px">
                    <div class="card-body">
                        <h5 class="card-title">Controle melhor os seus gastos!</h5>
                    </div>
                </div>
            </a>
            
            <a href="{% slugurl 'blog' %}" class="card h-100 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card" style="width: 15rem; display: inline-block">
                    <img class="card-img-top" src="{% static 'images/blog.jpeg' %}" alt="Card image cap" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">Aprenda mais sobre Educação Financeira</h5>
                    </div>
                </div>
            </a>
    </div>
{# </div> #}

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>

{% endblock %}
