{% block footer %}
<footer class="footer">
    <!-- <div class="container-fluid"> -->
        <!-- <div class="row text-center text-xs-center text-sm-left text-md-left"> -->
                
        <!-- <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center"> -->
                <span>Trabalho elaborado para a disciplina de Projeto de Software 2/2019</span>
        
                <span class="h6" data-toggle="tooltip" data-placement="top" title="Autores: Adriano Gomes da Silva, Bruno Caregnatto, Leopoldo C Reginato e Venicius Bregalda">&copy 2019.</span>
            <!-- </div> -->
            </hr>
        </div>	
    <!-- </div> -->
</footer>
{% endblock %}