{% load wagtailcore_tags %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5">
        <a class="navbar-brand" href="{% slugurl 'home' %}">Educação Financeira</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% slugurl 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% slugurl 'formulário-de-planejamento-financeiro' %}">Formulário de Controle Financeiro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% slugurl 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% slugurl 'sobre' %}">Sobre o Projeto</a>
                    </li>
                </ul>
            </div>
    </nav>
{% endblock %}